


<h1>Our Chocobos</h1>
<div class="menu">
<ul>
  <li><%= link_to("Yellow Chocobo", yellow_chocobos_path) %></li>
  <li><%= link_to("Green Chocobo", green_chocobos_path) %></li>
  <li><%= link_to("Blue Chocobo", blue_chocobos_path) %></li>
  <li><%= link_to("Black Chocobo", black_chocobos_path) %></li>
  <li><%= link_to("Gold Chocobo", gold_chocobos_path) %></li>
</ul>

</div>
<embed src="http://www.ffmages.com/ffvii/ost/disc-2/06-waltz-de-chocobo.mp3" autostart="true" loop="true"
width="2" height="0" >
</embed> 