<!DOCTYPE html>
<html>
<head>
  <title>ChocoboFarm</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <%= link_to("home", root_path) %>
  <%= link_to("about us", about_us_path) %> 
  <%= link_to("products", products_path) %>
</nav>

<%= yield %>

</body>
</html>
